* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #9D50BB 0%, #6E48AA 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
